@model IEnumerable<eProject.ViewModel.CatAuctionUser>
@{
    ViewData["Title"] = "Profile User";
}
<div class="container" style="margin-top:8%;">
    <div class="row" style="border: thin ridge lightgray; border-radius: 10px; padding: 10px; margin: 3%; box-shadow: 5px 5px 5px gray;">
        <div class="col-md-3">
            <img src="~/frontend/images/icon-user-removebg-preview.png" width="100" />
            <p>@ViewBag.user.Username</p>
        </div>
        
        <div class="col-md-4">          
            <table class="table">
                <tr>
                    <td>Positive</td>
                    <td>Neutral</td>
                    <td>Negative</td>
                </tr>
                @{ 
                    ViewBag.positive = ViewBag.positive != 0 ? ViewBag.positive : 0;
                    ViewBag.neutral = ViewBag.neutral != 0 ? ViewBag.neutral : 0;
                    ViewBag.negative = ViewBag.negative != 0 ? ViewBag.negative : 0;
                }
                <tr>
                    <td>@ViewBag.positive</td>
                    <td>@ViewBag.neutral</td>
                    <td>@ViewBag.negative</td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            <a asp-action="Feedback" asp-controller="ProfileSeller" asp-route-id="@ViewBag.user.UserId">See All Feedback</a>
        </div>
    </div>
    <div class="container">
        <h3>Item for sale</h3>
        <div class="row" style="margin:2%">
            @foreach (var item in Model)
            {
                <div class="col-md-3 mb-4">

                    <!--Card-->
                    <div class="card card-ecommerce">

                        <!--Card image-->
                        <div class="view overlay">
                            @{
                                var image = item.Auction.Image.Split(",");
                            }
                            <img src="~/images/@image[0]" style="height: 200px; max-width: 400px">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!--Card image-->
                        <!--Card content-->
                        <div class="card-body">
                            <!--Category & Title-->

                            <h5 class="card-title mb-1">
                                <strong>
                                    <a href="~/PageAuction/Details/@item.Auction.AuctionId" class="dark-grey-text">@item.Auction.Title</a>
                                </strong>
                            </h5>
                            @if (item.Auction.Status == "Active")
                            {
                                <span class="badge badge-danger mb-2">New</span>
                            }
                            else if (item.Auction.Status == "Inactive")
                            {
                                <span class="badge badge-info mb-2">Finish</span>
                            }

                            <!--Card footer-->
                            <div class="card-footer pb-0">
                                <div class="row mb-0">
                                    <span class="float-left">
                                        <strong>@item.Auction.SalePrice $</strong>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <!--Card content-->

                    </div>
                    <!--Card-->

                </div>
            }

        </div>
    </div>
</div>
    